* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
section {
  background-color: white;
  width: 560px;
  height: 360x;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p {
  margin: 10px 0px;
  font-size: 1.1rem;
}
input {
  width: 100%;
  display: block;
  border: 1px solid #ccc;
  padding: 10px;
}
button {
  width: 100%;
  background-color: #4caf50;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #4caf50;
  color: white;
  font-size: large;
}
div {
  margin-top: 10px;
  font-size: 1.1rem;

  span {
    font-size: 25px;
    font-weight: 600;
  }
}
